.likeContainer {
  position: absolute;
  z-index: 500;
  bottom: var(--size58);
  right: var(--size20);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.badgeContainer {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
