.button {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  border: 2px solid #000000;
  background: #ffffff;

  box-shadow: 2px 3px 0px 1px #000;
  color: var(--Custom-plain_foreground, rgba(73, 78, 5, 0.8));

  font-family: Borna;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15px;
}
