.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 120px;
  padding: 0px 16px;
}

.errorpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size24);
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.title {
  font-size: var(--size28);
  font-weight: 500;
  color: black;
}

.goBack {
  padding: var(--size16);
  font-size: var(--size20);
  color: rgb(253, 175, 175);
  cursor: pointer;
  background-color: rgb(39, 0, 0);
  border-radius: 6px;
}
