.segmentedCustom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  width: 254px;
  box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 1);
  border-radius: var(--size8);
}

.buttonActive {
  background-color: #f7c84f;
  border: none;
  padding: 5px 20px;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
}

.buttonInactive {
  background-color: #fff;
  border: none;
  padding: 5px 20px;
  color: #707579;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
}

.buttonLeft {
  border-top-left-radius: var(--size8);
  border-bottom-left-radius: var(--size8);
  border: 2px solid #000;
  border-right-width: 1px;
  width: 100%;
}

.buttonRight {
  border-top-right-radius: var(--size8);
  border-bottom-right-radius: var(--size8);
  border: 2px solid #000;
  border-left-width: 1px;
}