.uploadSection {
  display: flex;
  width: 206px;
  padding-top: var(--size60);
  padding-bottom: var(--size60);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  background-color: #efeff4;
  border-style: dashed;
  border-width: 2px;
  border-color: #707579;
  border-image-slice: 1;
}

.socialMediaSection {
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.collapse {
  max-height: 0;
}

.expand {
  max-height: 500px;
}

.showMoreOptionsButton {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-family: borna;
}

.text {
  color: var(--Custom-secondary_hint_color, #a2acb0);
  text-overflow: ellipsis;
  font-family: Borna;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15px;
  width: 100%;
  margin-bottom: 5px;
}
