:root {
  --font-family-inter: 'Inter', Arial, Helvetica, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --size1: calc(1 * 100vw / 414);
  --size4: calc(4 * 100vw / 414);
  --size8: calc(8 * 100vw / 414);
  --size10: calc(10 * 100vw / 414);
  --size12: calc(12 * 100vw / 414);
  --size14: calc(14 * 100vw / 414);
  --size16: calc(16 * 100vw / 414);
  --size18: calc(18 * 100vw / 414);
  --size20: calc(20 * 100vw / 414);
  --size27: calc(27 * 100vw / 414);
  --size28: calc(28 * 100vw / 414);
  --size30: calc(30 * 100vw / 414);
  --size32: calc(32 * 100vw / 414);
  --size34: calc(34 * 100vw / 414);
  --size36: calc(36 * 100vw / 414);
  --size38: calc(38 * 100vw / 414);
  --size40: calc(40 * 100vw / 414);
  --size42: calc(42 * 100vw / 414);
  --size44: calc(44 * 100vw / 414);
  --size48: calc(48 * 100vw / 414);
  --size50: calc(50 * 100vw / 414);
  --size52: calc(52 * 100vw / 414);
  --size54: calc(54 * 100vw / 414);
  --size56: calc(56 * 100vw / 414);
  --size58: calc(58 * 100vw / 414);
  --size60: calc(60 * 100vw / 414);
  --size64: calc(64 * 100vw / 414);
  --size68: calc(68 * 100vw / 414);
  --size72: calc(72 * 100vw / 414);
  --size135: calc(135 * 100vw / 414);
  --height-main: calc(680 * 100vw / 414);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Borna';
  src: url('/fonts/borna-medium-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
