.toast-container-success {
  display: flex;
  gap: 12px;
  background-color: #f7c84f;
  padding: 16px;
  border-radius: 12px;
  align-items: center;
  position: fixed;
  bottom: 30%;
  z-index: 1000;
  position: absolute;
  width: 85%;
  animation: moveFromBottom 0.5s ease;
}

.toast-container-error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #fc5c5c;
  padding: 16px;
  border-radius: 12px;
  align-items: center;
  position: fixed;
  bottom: 30%;
  z-index: 1000;
  position: absolute;
  width: 85%;
  animation: moveFromBottom 0.5s ease;
}

.toast-text {
  color: #000;
}

.toast-icon {
  width: 30px;
  height: 30px;
}

@keyframes moveFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
