.main {
  display: flex;
  height: 779px;
  padding: 64px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  margin-bottom: 40vh;
}

.mainAmount {
  display: flex;
  height: 779px;
  padding: 80px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  margin-bottom: 40vh;
  width: 100%;
}

.assetContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
}

.mainResume {
  display: flex;
  height: 779px;
  padding: 64px 16px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  flex: 1 0 0;
  flex-shrink: 0;
  align-self: stretch;
  width: 100%;
  background: #f7c84f;
  min-height: 905px;
}
