.main {
  width: 100%;
  padding: 16px 16px;
  border-top: 2px solid #000000;
  background: #ffffff;
}

.buttonsDiv {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.sellButton {
  display: flex;
  height: 50px;
  padding: 15px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Custom-outline, #131313);

  color: var(--Custom-plain_foreground, rgba(73, 78, 5, 0.8));
  text-align: center;

  font-family: Borna;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.1px;
  background-color: transparent;
}

.buyButton {
  display: flex;
  width: 244px;
  height: 50px;
  padding: 15px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f7c84f;
  color: #332904;
  text-align: center;
  border: none;

  font-family: Borna;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.1px;
}
